################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ttt/v16
/.vs
/TicTacToe/.vs/TicTacToe/v16
/TicTacToe/TicTacToe/obj
